@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Figtree";
  background-color: #F4D04E;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.blog-card {
  width: 384px;
  height: 522px;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  padding: 24px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  box-shadow: 8px 8px;
}

.blog-image {
  border-radius: 10px;
  object-fit: cover;
}

.blog-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.category {
  width: 82px;
  height: 29px;
  background-color: #F4D04E;
  border-radius: 4px;
  padding: 4px 8px;
  text-align: center;
  font-weight: 800;
  font-size: 14px;
}

.date {
  font-size: 14px;
  font-weight: 500;
}

.title {
  font-size: 24px;
  font-weight: 800;
}

.description {
  font-size: 16px;
  font-weight: 500;
  color: #6B6B6B;
}

.author {
  display: flex;
  gap: 12px;
  align-items: center;
}

.author-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.author-name {
  font-size: 14px;
  font-weight: 800;
}